@using SiteWatch.Models
@inherits EditHttpActionBase

@if (AddUrlModel != null)
{
	<Popup Title="Add URL">
		<Body>
			<EditForm EditContext="AddUrlEditContext" OnSubmit="AddUrlSubmit">
				<DataAnnotationsValidator />

				<div class="form-group">
					<label for="@nameof(AddUrlModel.Url)">URL</label>
					<InputText @bind-Value="AddUrlModel.Url" class="form-control" />
					<ValidationMessage For="@(() => AddUrlModel.Url)" />
				</div>

				<div class="form-group text-right">
					<button class="btn btn-light" type="button" @onclick="() => AddUrlModel = null">Cancel</button>
					<button class="btn btn-primary" type="submit">Add</button>
				</div>
			</EditForm>
		</Body>
	</Popup>
}

@if (DeleteUrl != null)
{
	<Popup Title="Delete URL">
		<Body>
			Are you sure you want to delete the URL "@DeleteUrl"?
		</Body>
		<Buttons>
			<button class="btn btn-light" type="button" @onclick="() => DeleteUrl = null">Cancel</button>
			<button class="btn btn-danger" type="button" @onclick="DeleteUrlSubmit">Delete</button>
		</Buttons>
	</Popup>
}

<div class="form-group">
	<label>Headers</label>
	<KeyValueListEditor KeyValueList="HttpAction.Headers" />
</div>

@switch (HttpAction)
{
	case HttpGetAction getAction:
		<EditHttpGetAction HttpGetAction="getAction" />
		break;
	case HttpPostAction postAction:
		<EditHttpPostAction HttpPostAction="postAction" />
		break;
}

<div class="form-group">
	<label>URLs</label>
	<table class="table text-light">
		<tbody>
			@foreach (var url in HttpAction.Urls)
			{
				<tr>
					<td>
						<a href="@url" target="_blank">@url</a>
					</td>
					<td>
						@*<button class="btn btn-primary" type="button" @onclick="() => PreviewQuery(url)">Preview query</button>*@
						<button class="btn btn-danger" type="button" @onclick="() => DeleteUrl = url">Delete</button>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-center">
					<button class="btn btn-success" type="button" @onclick="ShowAddUrl">Add</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
